<div class="editor-panel" ngTabs data-testid="editor-panel">
  <div class="editor-panel-toolbar">
    <div
      class="editor-panel-tabs"
      role="presentation"
      ngTabList
      selectionMode="follow"
      [selectedTab]="session.panelTab()"
      (selectedTabChange)="onTabChange($event)"
      [attr.aria-label]="i18n.t('panel.tabs')"
    >
      @for (tab of tabs; track tab.value) {
        <button
          type="button"
          class="editor-tab"
          [class.editor-tab--stack]="!!tab.line2Key"
          ngTab
          [value]="tab.value"
          [attr.data-testid]="'panel-tab-' + tab.value"
        >
          @if (tab.line2Key) {
            <span class="editor-tab-l1" [textContent]="i18n.t(tab.labelKey)"></span>
            <span class="editor-tab-l2" [textContent]="i18n.t(tab.line2Key)"></span>
          } @else {
            <span [textContent]="i18n.t(tab.labelKey)"></span>
          }
        </button>
      }
    </div>
  </div>

  <div class="editor-panel-body">
    <div class="editor-tab-panel" ngTabPanel value="placed" [preserveContent]="true">
      <ng-template ngTabContent>
        <app-placed-blocks-tab />
      </ng-template>
    </div>
    <div class="editor-tab-panel" ngTabPanel value="catalog" [preserveContent]="true">
      <ng-template ngTabContent>
        <app-catalog-tab />
      </ng-template>
    </div>
    <div class="editor-tab-panel" ngTabPanel value="campaign" [preserveContent]="true">
      <ng-template ngTabContent>
        <app-campaign-fields />
      </ng-template>
    </div>
    <div class="editor-tab-panel" ngTabPanel value="brand" [preserveContent]="true">
      <ng-template ngTabContent>
        <app-brand-fields />
      </ng-template>
    </div>
    <div class="editor-tab-panel" ngTabPanel value="colors" [preserveContent]="true">
      <ng-template ngTabContent>
        <app-colors-fields />
      </ng-template>
    </div>
    <div class="editor-tab-panel" ngTabPanel value="legal" [preserveContent]="true">
      <ng-template ngTabContent>
        <app-legal-fields />
      </ng-template>
    </div>
  </div>
</div>
